* {
  margin: 0;
  padding: 0;
  font-family: Martian Grotesk, Helvetica Neue, Martian Grotesk Fallback,
    Hiragino Sans, Hiragino Kaku Gothic Pro, 游ゴシック, 游ゴシック体, YuGothic,
    Yu Gothic, ＭＳ ゴシック, MS Gothic, sans-serif;
}

:root {
  --full-black: rgb(0, 0, 0);
  --light-black: rgb(0, 0, 0, 0.8);
  --danger-red: rgb(255, 0, 0);
  --light-green: rgb(114, 125, 0);
  --green: rgb(114, 125, 0, 0.8);
  --dark-green: rgb(114, 125, 0, 0.2);
  --light-gray: rgb(240, 240, 240);
  --dark-gray: rgb(0, 0, 0, 0.1);
  --white: rgb(255, 255, 255);
}

form {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
}

input {
  border: 1px solid var(--full-black);
  border-radius: 8px;
  font-size: 16px;
  margin-bottom: 16px;
  min-width: 240px;
  padding: 8px 16px;
  transition: all 0.3s ease;
}

input:-internal-autofill-selected {
  -webkit-text-fill-color: var(--full-black);
  box-shadow: 0 0 0px 1000px var(--white) inset;
}

input:hover {
  border: 1px solid var(--light-green);
}

input:focus-visible {
  border: 1px solid var(--light-green);
  outline: none;
}

input:disabled {
  background-color: var(--light-gray) !important;
  box-shadow: 0 0 0px 1000px var(--light-gray) inset;
}

input:disabled:hover {
  cursor: not-allowed;
}

input.danger {
  border-color: var(--danger-red);
}

button {
  background-color: var(--full-black);
  border: 1px solid var(--full-black);
  border-radius: 8px;
  color: var(--white);
  font-size: 16px;
  min-height: 42px;
  min-width: 272px;
  padding: 8px 16px;
  transition: all 0.3s ease;
}

button.loading {
  background-color: var(--light-black);
}

button .spinner {
  display: none;
}

button.loading .spinner {
  display: block;
}

button.loading span {
  display: none;
}

button:hover {
  background-color: var(--light-green);
  border: 1px solid var(--light-green);
  cursor: pointer;
}

button.loading:hover {
  background-color: var(--green);
  border: 1px solid var(--green);
  cursor: not-allowed;
}

button:hover .spinner {
  border: 4px solid var(--dark-gray);
  border-top: 4px solid var(--full-black);
  transition: all 0.3s ease;
}

#danger-advisor {
  color: var(--danger-red);
  margin-bottom: 8px;
}

.spinner {
  animation: spin 1s linear infinite;
  border: 4px solid var(--dark-green);
  border-top: 4px solid var(--light-green);
  border-radius: 50%;
  height: 16px;
  margin: 0 auto;
  transition: all 0.3s ease;
  width: 16px;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
